@page
@model Garrison.Web.Pages.Profile.CreateApiKeyModel
@{
    ViewData["ProfilePage"] = "API Keys";
}
<h2>Create</h2>
<hr>
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApiKey.Name" class="control-label"></label>
                <input asp-for="ApiKey.Name" class="form-control">
                <span asp-validation-for="ApiKey.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey.Key" class="control-label"></label>
                <input asp-for="ApiKey.Key" value="@Model.NewKey" class="form-control" readonly="">
                <span>Please copy this value, it will not be displayed again</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}