@page
@model Garrison.Web.Pages.Profile.IndexModel
@{
    ViewData["ProfilePage"] = "Profile";
}
<nav class="navbar justify-content-between">
    <ul>
        <li>
            <a class="nav-link text-dark" asp-page="ApiKeys">API Keys</a>
        </li>
    </ul>
</nav>